.info
{
  color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}


.error{
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message{
  position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn-primary
{
  background-color: #2a99c5; width: 360px
}

.btn-primary:disabled
 {
  background-color: #c9c6c6ee;
 }
